.overlay-menu {
	position: fixed;
	padding: 0;
	background-color: #ffffff;
	border: 2px solid rgb(230,230,230);
	opacity: 0;
	display: none;
}

.overlay-menu a {
	padding: 15px;
	display: block;
}

.overlay-menu a:hover {
	background-color: #eaeaea;
}