.additional-option {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid transparent;
  display: inline-block;
  z-index: 9999;
}

.additional-option:hover {
	border: 1px solid #cfcfcf;
}

.additional-option.active {
  border: 1px solid #cfcfcf;
}

.additional-option .dot {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: rgb(90,90,90);
  margin: 5px auto;
}

.additional-option-items {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  z-index: 9999;
  display: none;
}

.additional-option-items > a {
  color: #000000 !important;
  padding: 0 25px !important;
  line-height: 50px !important;
  display: block !important;
}

.additional-option-items > a:hover {
  background-color: #eaeaea !important;
}

.additional-option-content {
  display: none;
}

.main-navigation .additional-option {
  position: absolute;
  top: 0;
  right: 6px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-top: 4px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.main-navigation .additional-option:hover {
  background-color: #3F51B5;
}

.main-navigation .additional-option .dot {
  width: 5px;
  height: 5px;
  margin: 6px auto;
  background-color: #ffffff;
}