.notification-bottom {
	position: fixed;
	z-index: 9999;
	width: 380px;
	height: 110px;
	color: #ffffff;
	background-color: rgba(26,35,126);
	border-top: 4px solid #303F9F;
}

.notification-bottom.success {
	background-color: rgb(240,255,236);
	border-color: rgb(95,121,82);
	color: rgb(95,121,82);
}

.notification-bottom.info {
	background-color: rgb(222,255,255);
	border-color: rgb(69,127,170);
	color: rgb(69,127,170);
}

.notification-bottom.error {
	background-color: rgb(255,221,214);
	border-color: rgb(183,67,69);
	color: rgb(183,67,69);
}

.notification-bottom.success .description {
	color: rgb(155,176,145);
}

.notification-bottom.info .description {
	color: rgb(149,184,204);
}

.notification-bottom.error .description {
	color: rgb(193,125,124);
}

.notification-bottom-inner {
	padding: 10px 20px;
}

.notification-bottom .close-btn {
	position: absolute;
	top: 11px;
	right: -13px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 30px;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	background-color: rgb(183,67,69);
	cursor: pointer;
}

.notification-bottom.success .close-btn {
	background-color: rgb(95,121,82);
}

.notification-bottom.info .close-btn {
	background-color: rgb(69,127,170);
}

.notification-bottom.error .close-btn {
	background-color: rgb(183,67,69);
}

.notification-bottom .message .title {
	font-size: 18px;
	line-height: 30px;
}

.notification-bottom .message .description {
	font-size: 15px;
	line-height: 30px;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .notification-bottom {
  	width: 280px;
  }

}