.entity-header {
	width: 100%;
	margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
	border-bottom: 5px solid #1A237E;
	background-color: #d2d2d2;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.entity-header-overlay {
	width: 100%;
	background-color: rgba(50,50,50,.8);
	margin-top: 265px;
	transition: all .5s ease;
}

.entity-logo {
	width: 200px;
  height: 200px;
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  float: left;
  margin: 45px 0 20px 45px;
}

.entity-description {
	width: 60%;
	padding: 30px 20px 20px;
	color: #ffffff;
	float: left;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.entity-header-overlay {
		margin-top: 0;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.entity-description {
		width: 90%;
		padding: 0 0 20px 45px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.entity-header {
		background-size: auto 100%;
	}

	.entity-logo {
		width: 150px;
		height: 150px;
	}

	.entity-description h2 {
		font-size: 25px;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}