.badge-list {
	/*width: 63%;*/
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
}

.badge-item {
	margin: 20px 0;
}

.badge-image {
	width: 150px;
	height: 150px;
	background-color: #ffffff;
	border-radius: 150px;
}

.badge-title {
	width: 150px;
	font-size: 18px;
	text-align: center;
	color: #ffffff;
}